* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #F6F6F6;
}

h1 {
  font-family: "Neucha", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  color: #058240;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #333333;
}

header {
  height: 90px;
  border-bottom: 4px solid #058240;
  background-color: #F3FBEC;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 90px;
  left: 0;
  background-color: #058240;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.link {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #FFFFFF;
  transition: 0.3s;
  display: block;
}

.link:hover {
  color: #333333;
  background-color: #F3FBEC;
}

.link.active {
  color: #FFFFFF;
  background-color: #87C159;
}

.sidenav-background {
  position: fixed;
  top: 90px;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}

.sidenav-background.active {
  opacity: 1;
  z-index: 9;
  pointer-events: all;
  transition: 0.5s all;
}

footer {
  height: 0;
  width: 100%;
  bottom: 0;
  z-index: 5;
  position: fixed;
  transition: 0.7s;
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  border-top: 4px solid #F3C301;
  background-color: #FFF0CC;
}

.start {
  border-radius: 50%;
  background-color: #F3C301;
  height: 100px;
  width: 100px;
  display: none;
  z-index: 5;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25%;
}

.start-icon {
  background-image: url("../../img/icons/play.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 50%;
  display: block;
}

.start:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.star {
  height: 48px;
  width: 48px;
}

.logo:hover {
  color: #87C159;
  cursor: pointer;
}

.result-img {
  height: 200px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  column-gap: 40px;
  row-gap: 40px;
  padding: 0 0 70px 0;
  margin: 0 auto;
}

.header-wrapper {
  display: grid;
  grid-template-columns: 60px 1fr 224px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.toggle-wrapper {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-self: end;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.stars-wrapper {
  height: 70px;
  max-width: 1200px;
  display: flex;
  align-items: center;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-size: 30px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #333333;
  margin: 90px auto;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 323px;
  height: 290px;
  overflow: hidden;
  transition: transform 0.5s;
}

.card:hover {
  box-shadow: 0px 4px 17px rgba(5, 130, 64, 0.68);
  cursor: pointer;
}

.card-rotited {
  transform-style: preserve-3d;
  transform: rotateY(180deg) scaleX(-1);
  transition: transform 0.5s;
}

.card-image {
  border-radius: 8px 8px 0px 0px;
  width: 323px;
  height: 215px;
}

.card-title {
  margin: 25px 0;
}

.rotate-icon {
  background-image: url("../../img/icons/rotate.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 70%;
  height: 70%;
  display: block;
  margin-top: 7px;
}

.rotate {
  display: flex;
  align-content: center;
  justify-content: center;
  background: #87C159;
  border-radius: 50px;
  width: 50px;
  height: 48px;
}

.rotate:hover {
  background: #058240;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #87C159;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #F3C301;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F3C301;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.train, .play {
  font-size: 2.5rem;
}

.train {
  color: #87C159;
}

.play {
  color: #ADACAC;
}

.burger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
}

.burger-line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #058240;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.burger-line-first {
  top: 0;
}

.burger-line-second, .burger-line-third {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line-fourth {
  bottom: 0;
}

.burger_active .burger-line-first, .burger_active .burger-line-fourth {
  opacity: 0;
}

.burger_active .burger-line-second {
  transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger-line-third {
  transform: translateY(-50%) rotate(-45deg);
}

/*# sourceMappingURL=style.css.map */
