* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    @include font(normal, 400, 1.6rem, $color-text);
}

header {
    height: 90px;
    border-bottom: 4px solid $color-train-dark;
    background-color: $color-header;
    @include media-mobile {
        height: 70px;
    };
}

.logo {
    font-family: 'Neucha', cursive;
    @include font(normal, 500, 4.2rem, $color-train-dark);
    @extend %transition;
    cursor: pointer;
    @include media-tablet {
        font-size: 3.2rem;
    };
    @include media-mobile {
        display: none;
    };
    &:hover {
        color: $color-train-light;
        @include media-tablet {
            color: $color-train-dark;
        };
    };
}

main {
    background-color: $color-background;
}

.category-title {
    @include font(normal, 400, 2.4rem, $color-text);
    @include media-mobile {
        @include font(normal, 400, 1.8rem, $color-text);
    };
}

footer {
    height: 0;
    width: 100%;
    bottom: 0;
    z-index: 5;
    position: fixed;
    @extend %nav-transition;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-top: 4px solid $color-play-dark;
    background-color: $color-play-light;
}

.star {
    height: 48px;
    width: 48px;
    @include media-mobile {
        height: 28px;
        width: 28px;
    };
}

.result-img {
    height: 200px;
    @include media-mobile {
        height: 100px;
    };
}