.statistic {
    width: 50px;
    height: 50px;
    @extend %transition;
    cursor: pointer;
    &:hover {
        transform: scale(0.95);
    };
    @include media-mobile {
        width: 40px;
        height: 40px;
    };
}

.start {
    border-radius: 50%;
    background-color: $color-play-dark;
    height: 100px;
    width: 100px;
    display: none;
    z-index: 5;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25%;
    cursor: pointer;
    &:hover {
        animation: shake 0.5s;
        animation-iteration-count: infinite;
        @include media-mobile {
            animation: none;
        };
    };
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.statistic-btn {
    padding: 6px;
    margin-right: 8px;
    height: 40px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.3);
    background-color: transparent;
    border-radius: 8px;
    border-style: none;
    font-family: 'Roboto', sans-serif;
    @include font(normal, 500, 1.8rem, $color-card);
    cursor: pointer;
    @extend %btn-transition;
    @include media-mobile {
        @include font(normal, 500, 1.6rem, $color-card);
        height: 30px;
    };
    @include media-mobilesmall {
        @include font(normal, 500, 1.4rem, $color-card);
        height: 30px;
    };
}

.repeat-words {
    background-image: linear-gradient(-106deg,$color-train-dark,$color-play-dark);
    width: 200px;
    @include media-mobile {
        width: 180px;
    };
    @include media-mobilesmall {
        width: 170px;
    };
    &:hover {
        background-image: linear-gradient(160deg,$color-train-dark,$color-play-dark);
    };
}

.reset {
    background-image: linear-gradient(-106deg,$color-additional,$color-play-dark);
    width: 90px;
    @include media-mobile {
        width: 80px;
    };
    @include media-mobilesmall {
        width: 70px;
    };
    &:hover {
        background-image: linear-gradient(160deg,$color-additional,$color-play-dark);
    };
}