.stars-wrapper, .category-wrapper, .card-wrapper, .wrapper {
  max-width: 1200px;
}

.burger-line-second, .burger-line-third, .sidenav-background, .link, .sidenav, .rotate, .statistic, .logo {
  transition: all 0.3s ease-out;
}

.sidenav-background.active, footer {
  transition: all 0.5s ease-in-out;
}

.statistic-btn {
  transition: all 0.9s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  color: #333333;
}

header {
  height: 90px;
  border-bottom: 4px solid #058240;
  background-color: #F3FBEC;
}
@media (max-width: 480px) {
  header {
    height: 70px;
  }
}

.logo {
  font-family: "Neucha", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 4.2rem;
  color: #058240;
  cursor: pointer;
}
@media (max-width: 768px) {
  .logo {
    font-size: 3.2rem;
  }
}
@media (max-width: 480px) {
  .logo {
    display: none;
  }
}
.logo:hover {
  color: #87C159;
}
@media (max-width: 768px) {
  .logo:hover {
    color: #058240;
  }
}

main {
  background-color: #FFFFFF;
}

.category-title {
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  color: #333333;
}
@media (max-width: 480px) {
  .category-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #333333;
  }
}

footer {
  height: 0;
  width: 100%;
  bottom: 0;
  z-index: 5;
  position: fixed;
}

.footer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  border-top: 4px solid #F3C301;
  background-color: #FFF0CC;
}

.star {
  height: 48px;
  width: 48px;
}
@media (max-width: 480px) {
  .star {
    height: 28px;
    width: 28px;
  }
}

.result-img {
  height: 200px;
}
@media (max-width: 480px) {
  .result-img {
    height: 100px;
  }
}

.statistic {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.statistic:hover {
  transform: scale(0.95);
}
@media (max-width: 768px) {
  .statistic:hover {
    transform: none;
  }
}
@media (max-width: 480px) {
  .statistic {
    width: 40px;
    height: 40px;
  }
}

.start {
  border-radius: 50%;
  background-color: #F3C301;
  height: 100px;
  width: 100px;
  display: none;
  z-index: 5;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 25%;
  cursor: pointer;
}
.start:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@media (max-width: 480px) {
  .start:hover {
    animation: none;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
.statistic-btn {
  padding: 6px;
  margin-right: 8px;
  height: 40px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border-radius: 8px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  color: #F6F6F6;
  cursor: pointer;
}
@media (max-width: 480px) {
  .statistic-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: #F6F6F6;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .statistic-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    color: #F6F6F6;
    height: 30px;
  }
}

.repeat-words {
  background-image: linear-gradient(-106deg, #058240, #F3C301);
  width: 200px;
}
@media (max-width: 480px) {
  .repeat-words {
    width: 180px;
  }
}
@media (max-width: 320px) {
  .repeat-words {
    width: 170px;
  }
}
.repeat-words:hover {
  background-image: linear-gradient(160deg, #058240, #F3C301);
}
@media (max-width: 768px) {
  .repeat-words:hover {
    background-image: linear-gradient(-106deg, #058240, #F3C301);
  }
}

.reset {
  background-image: linear-gradient(-106deg, #FF6933, #F3C301);
  width: 90px;
}
@media (max-width: 480px) {
  .reset {
    width: 80px;
  }
}
@media (max-width: 320px) {
  .reset {
    width: 70px;
  }
}
.reset:hover {
  background-image: linear-gradient(160deg, #FF6933, #F3C301);
}
@media (max-width: 768px) {
  .reset:hover {
    background-image: linear-gradient(-106deg, #FF6933, #F3C301);
  }
}

.main-icon {
  display: none;
}
@media (max-width: 480px) {
  .main-icon {
    display: inline-block;
    height: 48px;
    width: 48px;
  }
}

.statistic-icon {
  width: 100%;
  height: 100% t;
  display: block;
}

.rotate-icon {
  width: 70%;
  display: block;
}

.start-icon {
  width: 50%;
  display: block;
}

.th-icon {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 6px;
}
@media (max-width: 768px) {
  .th-icon {
    height: 20px;
    width: 20px;
    margin-right: 0;
  }
}
@media (max-width: 480px) {
  .th-icon {
    height: 18px;
    width: 18px;
    margin-right: 0;
  }
}

.wrapper {
  margin: 0 auto;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 20px;
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .wrapper {
    max-width: 480px;
    padding: 0 10px;
  }
}
@media (max-width: 320px) {
  .wrapper {
    max-width: 320px;
    padding: 0 10px;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  row-gap: 40px;
  padding: 0 0 70px 0;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .card-wrapper {
    column-gap: 20px;
    row-gap: 20px;
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
  }
}
@media (max-width: 320px) {
  .card-wrapper {
    row-gap: 20px;
    max-width: 320px;
  }
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
@media (max-width: 480px) {
  .header-wrapper {
    padding: 10px 0;
  }
}

.header-wrapper-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.toggle-wrapper {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-self: end;
}

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}

.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 16px 0 10px 0;
}
@media (max-width: 768px) {
  .category-wrapper {
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .category-wrapper {
    max-width: 480px;
  }
}
@media (max-width: 320px) {
  .category-wrapper {
    max-width: 320px;
  }
}

.stars-wrapper {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .stars-wrapper {
    max-width: 768px;
  }
}
@media (max-width: 480px) {
  .stars-wrapper {
    max-width: 480px;
    height: 30px;
  }
}
@media (max-width: 320px) {
  .stars-wrapper {
    max-width: 320px;
  }
}

.result-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  width: 60%;
  background-color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
@media (max-width: 480px) {
  .result-wrapper {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    color: #333333;
  }
}

.th-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .card-wrapper {
    justify-content: center;
  }
}
.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 280px;
  overflow: hidden;
  transition: transform 0.5s;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0px 4px 17px rgba(5, 130, 64, 0.68);
}
@media (max-width: 768px) {
  .card:hover {
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
  }
}

.card-rotited {
  transform-style: preserve-3d;
  transform: rotateY(180deg) scaleX(-1);
  transition: transform 0.5s;
}

.card-image {
  border-radius: 8px 8px 0px 0px;
  width: 280px;
  height: 172px;
}

.card-title {
  margin: 25px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  color: #333333;
}

.rotate {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #87C159;
  border-radius: 50px;
  width: 50px;
  height: 48px;
}
.rotate:hover {
  background: #058240;
}
@media (max-width: 768px) {
  .rotate:hover {
    background: #87C159;
  }
}

.play-mode {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  color: #F6F6F6;
  background-color: #F3C301;
  padding: 3px 10px;
  display: none;
}

.card:hover .play-mode {
  background-image: linear-gradient(160deg, #FF6933, #F3C301);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 90px;
  left: 0;
  background-color: #058240;
  overflow-x: hidden;
  padding-top: 10px;
}
@media (max-width: 480px) {
  .sidenav {
    top: 70px;
  }
}

ul {
  list-style-type: none;
}

.link {
  padding: 8px 8px 8px 32px;
  width: 100%;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #F6F6F6;
  display: block;
}
@media (max-width: 480px) {
  .link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    color: #F6F6F6;
  }
}
.link.active {
  color: #F6F6F6;
  background-color: #87C159;
}
.link:hover {
  color: #333333;
  background-color: #F3FBEC;
}
@media (max-width: 768px) {
  .link:hover {
    color: #F6F6F6;
    background-color: #058240;
  }
}

.sidenav-background {
  position: fixed;
  top: 90px;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 480px) {
  .sidenav-background {
    top: 70px;
  }
}
.sidenav-background.active {
  opacity: 1;
  z-index: 9;
  pointer-events: all;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #87C159;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #F3C301;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F3C301;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

.train, .play {
  font-size: 2.5rem;
}
@media (max-width: 480px) {
  .train, .play {
    display: none;
  }
}

.train {
  color: #87C159;
}

.play {
  color: #ADACAC;
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .train, .play {
    display: none;
  }
}
.burger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  .burger {
    width: 30px;
    height: 30px;
  }
}

.burger-line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #058240;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.burger-line-first {
  top: 0;
}

.burger-line-second, .burger-line-third {
  top: 50%;
  transform: translateY(-50%);
}

.burger-line-fourth {
  bottom: 0;
}

.burger_active .burger-line-first, .burger_active .burger-line-fourth {
  opacity: 0;
}

.burger_active .burger-line-second {
  transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger-line-third {
  transform: translateY(-50%) rotate(-45deg);
}

.statistic-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
}

th {
  background-color: #058240;
  padding: 6px;
  cursor: pointer;
}
@media (max-width: 480px) {
  th {
    padding: 3px;
  }
}
@media (max-width: 320px) {
  th {
    padding: 1.5px;
  }
}
th:hover {
  background-color: #87C159;
}

.th-title {
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  color: #F6F6F6;
}
@media (max-width: 768px) {
  .th-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    color: #F6F6F6;
  }
}
@media (max-width: 480px) {
  .th-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #F6F6F6;
  }
}

@media (max-width: 768px) {
  .th-title-hidden {
    display: none;
  }
}
@media (max-width: 480px) {
  .th-title-hidden {
    display: none;
  }
}

tr:nth-child(even) {
  background-color: #FFF0CC;
}

td {
  text-align: center;
  padding: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  color: #333333;
}
@media (max-width: 768px) {
  td {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #333333;
    padding: 4px;
  }
}
@media (max-width: 480px) {
  td {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    color: #333333;
    padding: 3px;
  }
}
@media (max-width: 320px) {
  td {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    color: #333333;
    padding: 1.5px;
  }
}

/*# sourceMappingURL=style.css.map */
