$color-background:#F3FBEC;
$color-text:#333333;
$color-card: #FFFFFF;
$color-training-mode-200:#87C159;
$color-training-mode-500:#058240;
$color-playing-mode-200:#FEE3A2;
$color-playing-mode-500:#F3C301;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
