* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-background;
}

h1 {
    font-family: 'Neucha', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    color: $color-train-dark;
}

h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: $color-text;
}

header {
    height: 90px;
    border-bottom: 4px solid $color-train-dark;
    background-color: $color-header;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 90px;
    left: 0;
    background-color: $color-train-dark;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $color-card;
    transition: 0.3s;
    display: block;
}
  
.link:hover {
    color: $color-text;
    background-color: $color-header;
}

.link.active {
    color: $color-card;
    background-color: $color-train-light;
}

.sidenav-background {
    position: fixed;
    top: 90px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.sidenav-background.active {
    opacity: 1;
    z-index: 9;
    pointer-events: all;
    transition: 0.5s all;
}

footer {
    height: 0;
    width: 100%;
    bottom: 0;
    z-index: 5;
    position: fixed;
    transition: 0.7s;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-top: 4px solid $color-play-dark;
    background-color: $color-play-light;
}

.start {
    border-radius: 50%;
    background-color: $color-play-dark;
    height: 100px;
    width: 100px;
    display: none;
    z-index: 5;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 25%;
}

.start-icon {
    background-image: url('../../img/icons/play.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 50%;
    display: block;
}

.start:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.statistic {
    width: 50px;
    height: 50px;
}

.statistic:hover {
    cursor: pointer;
}

.statistic-icon {
    background-image: url('../../img/icons/statistic.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.star {
    height: 48px;
    width: 48px;
}

.logo:hover {
    color: $color-train-light;
    cursor: pointer;
}

.result-img {
    height: 200px;
}

.statistic-table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
}

th {
    background-color: $color-train-dark;
    color: $color-card;
    font-size: 24px;
    font-weight: 500;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: $color-play-light;
}

td {
    text-align: center;
    padding: 6px;
    color: $color-text;
    font-size: 18px;
    font-weight: 400;
}

.statistic-btn {
    padding: 6px;
    color: $color-text;
    font-size: 18px;
    font-weight: 400;
    margin-right: 20px;
    height: 40px;
}

.repeat-words {
    background-color: $color-train-light;
    width: 200px;
    border-radius: 8px;
    border-style: none;
}

.reset {
    background-color: $color-play-dark;
    width: 90px;
    border-radius: 8px;
    border-style: none;
}

.repeat-words:hover, .reset:hover {
    cursor: pointer;
}