* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-background;
}

header {
    height: 90px;
    border-bottom: 4px solid $color-train-dark;
    background-color: $color-header;
}

.logo {
    font-family: 'Neucha', cursive;
    @include font(normal, 500, 4.2rem, $color-train-dark);
    @extend %transition;
    cursor: pointer;
    &:hover {
        color: $color-train-light;
    }
}

.category-title {
    @include font(normal, 400, 2.4rem, $color-text);
}

footer {
    height: 0;
    width: 100%;
    bottom: 0;
    z-index: 5;
    position: fixed;
    @extend %nav-transition;
}

.footer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    border-top: 4px solid $color-play-dark;
    background-color: $color-play-light;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.star {
    height: 48px;
    width: 48px;
}

.result-img {
    height: 200px;
}