.card {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 323px;
    height: 290px;
    transition: transform 0.5s;
}

.card:hover {
    box-shadow: 0px 4px 17px rgba(5, 130, 64, 0.68);
}

.card-rotited {
	transform-style: preserve-3d;
	transform: rotateY(180deg) scaleX(-1);
	transition: transform 0.5s;
}

.card-image {
    border-radius: 8px 8px 0px 0px;
}

.card-title {
    margin: 25px 0;
}

.rotate-icon {
    background-image: url('../../img/icons/repeat.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 70%;
    display: block;
    margin-top: 8px;
}

.rotate {
	display: flex;
    align-content: center;
    justify-content: center;
    background: #87C159;
	border-radius: 50px;
	width: 50px;
	height: 50px;
}