.card {
    @include columns(column, center, center);
    text-align: center;
    background: $color-card;
    box-shadow: 0px 4px 7px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 280px;
    height: 247px;
    overflow: hidden;
    transition: transform 0.5s;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 4px 17px rgba(5, 130, 64, 0.68);
    };
}

.card-rotited {
	transform-style: preserve-3d;
	transform: rotateY(180deg) scaleX(-1);
	transition: transform 0.5s;
}

.card-image {
    border-radius: 8px 8px 0px 0px;
    width: 280px;
    height: 172px;
}

.card-title {
    margin: 25px 0;
    @include font(normal, 600, 2rem, $color-text);
}

.rotate {
    @include columns(row, center, center);
    background: $color-train-light;
	border-radius: 50px;
	width: 50px;
	height: 48px;
    @extend %transition;
    &:hover {
        background: $color-train-dark;
    };
}