.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 90px;
    left: 0;
    background-color: $color-train-dark;
    overflow-x: hidden;
    @extend %transition;
    padding-top: 10px;
    @include media-mobile {
        top: 70px;
    };
}

ul {
    list-style-type: none;
}

.link {
    padding: 8px 8px 8px 32px;
    width: 100%;
    text-decoration: none;
    @include font(normal, 400, 2rem, $color-card);
    @extend %transition;
    display: block;
    @include media-mobile {
        @include font(normal, 400, 1.8rem, $color-card);
    };
    &.active {
        color: $color-card;
        background-color: $color-train-light;
    };
    &:hover {
        color: $color-text;
        background-color: $color-header;
        @include media-tablet {
            color: $color-card;
            background-color: $color-train-dark;
        };
    };
}

.sidenav-background {
    position: fixed;
    top: 90px;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    opacity: 0;
    pointer-events: none;
    @extend %transition;
    @include media-mobile {
        top: 70px;
    };
    &.active {
        opacity: 1;
        z-index: 9;
        pointer-events: all;
        @extend %nav-transition;
    };
}