$color-background:#F6F6F6;
$color-text:#333333;
$color-header: #F3FBEC;
$color-card: #FFFFFF;
$color-train-light:#87C159;
$color-train-dark:#058240;
$color-play-light:#FFF0CC;
$color-play-dark:#F3C301;
$color-additional: #FF6933;
$color-inactive: #ADACAC;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;