.wrapper {
    max-width: $content-width;
    margin: 0 auto;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1075px;
    column-gap: 54px;
    row-gap: 38px;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle-wrapper {
    display: flex;
    column-gap: 2rem;
    align-items: center;
}