.wrapper {
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 40px;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    column-gap: 40px;
    row-gap: 40px;
    padding: 0 0 70px 0;
	margin: 0 auto;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 60px 1fr 224px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.toggle-wrapper {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-self: end;
}

.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
	width: 300px;
}

.stars-wrapper {
    height: 70px;
    max-width: 1200px;
    display: flex;
    align-items: center;
}