.wrapper {
    @extend %max-width;
    margin: 0 auto;
    padding: 0 40px;
    @include media-tablet {
        padding: 0 20px;
        max-width: $tablet-width;
    };
    @include media-mobile {
        max-width: $mobile-big-width;
        padding: 0 10px;
    };
    @include media-mobilesmall {
        max-width: $mobile-small-width;
        padding: 0 10px;
    };
}

.card-wrapper {
    @extend %max-width;
    @include columns(row, space-between, center);
    column-gap: 40px;
    row-gap: 40px;
    padding: 0 0 70px 0;
	margin: 0 auto;
    @include media-tablet {
        column-gap: 20px;
        row-gap: 20px;
        max-width: $tablet-width;
    };
    @include media-mobile {
        @include columns(column, center, center);
        max-width: $mobile-big-width;
    };
    @include media-mobilesmall {
        row-gap: 20px;
        max-width: $mobile-small-width;
    };
}

.header-wrapper {
    @include columns(row, space-between, center);
    padding: 20px 0;
    @include media-mobile {
        padding: 10px 0;
    };
}

.header-wrapper-items {
    @include columns(row, space-between, center);
    column-gap: 20px;
}

.toggle-wrapper {
    display: flex;
    column-gap: 2rem;
    align-items: center;
    justify-self: end;
}

.title-wrapper {
    @include columns(row, space-between, center);
	width: 250px;
}

.category-wrapper {
    @extend %max-width;
    @include columns(row, start, center);
    padding: 16px 0 10px 0;
    @include media-tablet {
        max-width: $tablet-width;
    };
    @include media-mobile {
        max-width: $mobile-big-width;
    };
    @include media-mobilesmall {
        max-width: $mobile-small-width;
    };
}

.stars-wrapper {
    height: 50px;
    @extend %max-width;
    @include columns(row, start, center);
    margin-bottom: 10px;
    @include media-tablet {
        max-width: $tablet-width;
    };
    @include media-mobile {
        max-width: $mobile-big-width;
        height: 30px;
    };
    @include media-mobilesmall {
        max-width: $mobile-small-width;
    };
}

.result-wrapper {
    @include columns(column, center, center);
    row-gap: 40px;
	width: 60%;
    background-color: $color-background;
    @include font(normal, 400, 3rem, $color-text);
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    @include media-mobile {
        @include font(normal, 400, 2rem, $color-text);
    };
}

.th-wrapper {
    @include columns(row, center, center);
}

@media screen and (max-width: $tablet-width) and (min-width: $mobile-big-width) {
    .card-wrapper {
        justify-content: center;
    }
}